<%= form_with(model: @blog, local: true,url: choose_new_or_edit ) do |form| %>
    <% if @blog.errors.any? %>
      <div id="error_explanation">
        <h2><%= @blog.errors.count %>のエラーがあります。</h2>
        <ul><% @blog.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="blog_image">
      <%= form.label :blog_image %>
      <%= image_tag(@blog.blog_image) if @blog.blog_image.present? %>
      <%= form.file_field :blog_image %>
      <%= form.hidden_field :blog_image_cache %>
    </div>
    <div class="blog_title">
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>
    <div class="blog_title">
      <%= form.label :content %>
      <%= form.text_field :content %>
    </div>
    <%= form.submit %>
  <% end %>
  
  <%= link_to "ブログ一覧画面にもどる", blogs_path %>